header
	background-color: #000000
	#phead
		color: white
		text-align: center
		align-content: center
		font-size: 3vw
		width: 4vw
		width: 100%
		padding-top: 1%
	nav
		ul
			background-color: #434343
			list-style-type: none
			li 
				a 
					font-size: 2vw
					color: white
					text-decoration: none

body
	background-color: #171E24
	color: white

main 
	#top 
		flex-direction: row
		flex-wrap: nowrap
		justify-content: space-between
		display: flex
		margin-bottom: 7vw
		p 
			width: 70%
			font-size: 2vw
			text-align: end
			padding-right: 28vw
		select 
			background-color: #171E24
			color: white
			border: none
			font-size: 1.5vw
			outline: 0
			option 
				border: none
				outline: 0

	#dmovies
		flex-direction: row
		flex-wrap: wrap 
		justify-content: space-around
		display: flex
		.container
			width: 42%
			height: 30vw
			flex-direction: row
			justify-content: space-between
			display: flex
			margin-bottom: 8vw
			background-color: black
			border-radius: 12px
			.image
				width: 100%
				max-height: 100%
				max-width: 100%
				overflow: hidden
				border-radius: 12px

		.hole
			flex-direction: column
			justify-content: space-around
			display: flex
			color: white
			text-align: center
			.Title
				font-size: 2vw
				margin-bottom: 0
			.Realease 
				margin-bottom: 0
			.income
				margin-bottom: 3vw



